@import "../../../styles/globals.scss";
a ,
button {
    &.rn-button {
        text-decoration: none;
        background-color: var(--color-primary);
        display: inline-block;
        padding: 0px 10px;
        overflow: hidden;
        position: relative;
        z-index: 1;
        outline: none;
        max-width: 300px;
        min-width: 100px;
        border: 2px solid #000;
        line-height: 25px;
        border-radius: 3px;
        color: #fff;
        font-weight: bold;
        font-size: 25px;
        font-family: 'Montserrat', sans-serif;
        @extend %transition !optional;
        span {
            position: relative;
            z-index: 2;
        }

        &.btn-white {
            background-color: var(--color-white);
            color: var(--color-extra03);
            span {
                color: var(--color-extra03);
            }
            &:hover {
                color: var(--color-extra04);
                span {
                    color: var(--color-extra04);
                }
            }
        }
        &:hover {
            color: var(--color-primary);
            background-color: transparent;
        }
    }
}



