@import "../../../styles/globals.scss";





a ,
button {

    &.rn-button {
        transition:all 1s linear;

        text-decoration: none;
        color: #ffffff !important;
        padding: 10px 10px;
        overflow: hidden;
        z-index: 1;
        outline: none;
        max-width: 300px;
        min-width: 100px;
        border: 2px solid #ffffff;
        line-height: 1em;
        border-radius: 2em !important;
        color: black;
font-weight:700;
font-family: 'Montserrat';
font-size: 1.1em;
  cursor: pointer;
  background-image: $gradient;
  background-repeat: no-repeat;
  background-size: 130% 0.2em;
  background-position: 0 125%;
  transition: background-size 0.25s ease-in;
  &:hover {
    background-size: 100% 100%;
}}
}
