@import url("https://use.typekit.net/aek5xfr.css");

.superbigheadlines{
    font-family: 'DIN Condensed';
    font-size: 350px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0px;
    text-align: left;
}
.bold {
    font-weight: 700;
}
.prose ul > li::before {
    @apply bg-gradient;
                    }
.white-text {
    color: #ffffff;
}
.grotesk {
    font-family: neue-haas-grotesk-display, sans-serif !important;
}
.roboto {
    font-family: 'Roboto', sans-serif;
}
.stolzl {
    font-family: 'DIN Condensed';
}
.prose blockquote {
    font-family: Esteban, Georgia, 'Times New Roman', serif;
    font-weight: 400;
    font-style: italic;
    color: #ffffff !important;

  }
.esteban {
  font-family: Esteban, Georgia, 'Times New Roman', serif;
font-style: normal;
font-weight: normal;
}
.figcaption {
    @apply esteban text-sm text-center bg-gray-300;
}
.prose h3 {
    color: #ffffff !important;
    font-family: Esteban, Georgia, 'Times New Roman', serif;
}
  .prose blockquote::first-letter {
    initial-letter: 4;
    -webkit-initial-letter: 4;
  }

  
  .mulish {
  font-family:  "Mulish", sans-serif;
  }
  .montserrat {
    font-family:  "Montserrat", sans-serif;
    }
.h1, .h2, h2, h1 {
    @apply leading-loose montserrat bold;
}

p, .p, body, section, .description {
    @apply mulish;
}

h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
@apply leading-loose montserrat;
}


.font-size-9xl {
    font-size: 28em;
}
.font-size-3xl {
    font-size: 3em;
}
.font-size-xl {
    font-size: 1.5em;
}
.underline {
    text-decoration: underline;
}
.font-bold {
    font-weight: 700;
}

.line-height-normal {
    line-height: 1em;
}
.text-center {
    text-align: center;
     align-items: center;
  justify-content: center;
}

.line-height-small {
    line-height: .75em;
}
.wavy-underline {

text-decoration: underline;

text-decoration-style: wavy;

text-decoration-offset: 8px;
}
