  .post-card-footer {
      display: table;
  width: 100%;
  margin: 0;}
.post-card-footer-left {
    text-align: left;
    display: table-cell;
}.post-card-footer-right {
    text-align: right;
    display: table-cell;
}

.card {
    max-width: 50rem;
    min-width: 20rem;
}

.cardh {
    min-height: 600px !important;
}
.cardy {

}
:root {
    --backgroundNight: #40407a;
    --white: #fff;
    --blue100: #d2ebf7;
    --blue200: #bcd1ff;
    --blue300: #081f32;
    --blue400: #007ae9;
    --red100: #f395ba;
    --orange100: #fed182;
    --grey100: #6e798c;
  }

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }


  .Card {
    display: flex;
    background-color: var(--white);
    border-radius: 16px;
    overflow: hidden;
  }

  .Card__Image {
    display: flex;
    padding: 25px;
    user-select: none;
  }

  .Card__Image_blue {
    background-color: var(--blue200);
  }

  .Card__Image_orange {
    background: linear-gradient(135deg, var(--red100) 0%, var(--orange100) 100%);
  }

  .Card__Image_lightBlue {
    background: linear-gradient(0deg, var(--blue100), var(--blue100)),
      var(--blue200);
  }

  .Card__Header {
    display: flex;
    font-family: "Mulish";
    font-size: 11px;
    color: var(--grey100);
  }

  .Card__Tag {
    flex: 1;
    font-weight: 600;
    text-transform: uppercase;
  }

  .Card__Body {
    flex: 1;
    display: flex;
  }

  .Card__Title {
    font-family: "Montserrat", serif;
    font-size: 20px;
    align-self: center;
    color: var(--blue300);
    font-weight: 400;
  }

  .Card__Content {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 30px;
  }
.cardo {
min-height: 220px; }
  .Card_Description,
  .Card__Footer {
    display: none;
  }
.lh-0 {
    line-height: 1.2;
}
  @media (min-width: 756px) {
    .Block {
      width: 100%;
      grid-template-columns: repeat(auto-fit, minmax(318px, auto));
      grid-column-gap: 16px;
    }

    .Card {
      flex-direction: column;
    }

    .Card__Header {
      margin-bottom: 10px;
    }
    .Card__Body {
      flex-direction: column;
    }

    .Card_Description,
    .Card__Footer {
      display: flex;
      font-family: Open Sans;
    }

    .Card_Description {
      font-size: 13px;
      line-height: 1.5;
      font-weight: 400;
    }

    .Card__Content {
      padding: 25px;
    }

    .Card__Image {
      justify-content: center;
    }

    /* .Card__Img {
      width: 120px;
    } */

    .Card__Footer-Link {
      justify-content: flex-end;
    }

    .Card__Footer-Author,
    .Card__Footer-Link {
      display: flex;
      align-items: center;
      flex: 1;
    }

    .Author-Img {
      width: 32px;
    }

    .Author-Img img {
      width: 100%;
    }

    .Author-Name,
    .Card__Footer-Link a {
      font-size: 11px;
      font-weight: 600;
      color: var(--blue400);
    }

    .Author-Img + .Author-Name {
      margin-left: 8px;
    }
  }

  @media (min-width: 1024px) {
    .Block {
      width: 1000px;
      grid-template-columns: repeat(auto-fit, minmax(1000px, 1fr));
    }

    .Card {
      flex-direction: row;
    }

    .Card__Header {
      font-size: 20px;
    }

    .Card__Date {
      font-size: 18px;
    }

    .Card__Title {
      font-size: 40px;
    }

    .Card__Image {
      align-items: center;
      width: 400px;
      height: 400px;
    }

    /* .Card__Img {
      width: 240px;
    } */

    .Card_Description {
      line-height: 1.5;
      font-size: 18px;
      color: #374a59;
    }

    .Author-Img {
      width: 44px;
    }

    .Author-Name,
    .Card__Footer-Link a {
      font-size: 18px;
    }
  }
