@import "../../../styles/globals.scss";

@mixin centre($axis: "both") {
	position: absolute;
	@if $axis == "y" {
		top: 50%;
		-webkit-transform: translateY(-50%);
		-moz-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		-o-transform: translateY(-50%);
		transform: translateY(-50%);
	}
	@if $axis == "x" {
		left: 50%;
		-webkit-transform: translateX(-50%);
		-moz-transform: translateX(-50%);
		-ms-transform: translateX(-50%);
		-o-transform: translateX(-50%);
		transform: translateX(-50%);
	}
	@if $axis == "both" {
		top: 50%;
		left: 50%;
		-webkit-transform: translate(-51%, -50%);
		-moz-transform: translate(-51%, -50%);
		-ms-transform: translate(-51%, -50%);
		-o-transform: translate(-51%, -50%);
		transform: translate(-51%, -50%);
	}
}
@mixin font-size($sizeValue: 1.6, $lineHeight: 2.4) {
  font-size: ($sizeValue * 10) + px;
  font-size: $sizeValue + rem;
  line-height: ($lineHeight * 10) + px;
}
@mixin fontawesome {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


@keyframes loadBounce {
    0%{transform:translate(-50%, -50%) scale(0);}
	40%{transform:translate(-50%, -50%) scale(1.2);}
	60%{transform:translate(-50%, -50%) scale(1);}
	80%{transform:translate(-50%, -50%) scale(1.1);}
	100%{transform:translate(-50%, -50%) scale(1);}
}



.m-linkitem{
	@include centre();
	max-width:500px;
	width:100%;
	// text-align:center;
	transform-origin:center;
	animation: loadBounce 0.5s ease-in-out forwards;

	a{
		transition:all 1s linear;
		display:inline;
		@include font-size(2.2, 4.5);
		color:#fff;
		text-decoration:none;
		text-transform:uppercase;
		font-weight:600;
		padding-bottom:5px;
		background: $gradient;
		background-size:0px 10px;
		background-repeat: no-repeat;
		background-position:left 85%;
		text-shadow:0;

		&:hover{
			background-size:100% 10px;
			text-shadow:0 2.5px 4px rgba(0,0,0,0.5);
		}
	}
}
