
@import "../../styles/globals.scss";

.mlinkitem{
	// text-align:center;

	a{
		transition:all 1s linear;
		color:#fff;
		text-decoration:none;
font-family: 'Montserrat';

font-weight:800;
		background: $gradient;
		background-size: 0% 10px;
		background-repeat: no-repeat;
		background-position:left 85%;
		text-shadow:0;

		&:hover{
			background-size:200% 20px;
			text-shadow:0 2.5px 4px rgba(0,0,0,0.5);
		}
	}
}
