
/*-------------------------
    Banner Styles
---------------------------*/

@import "../../styles/globals.scss";

/*
Banner Area Style
======================================================*/
.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  .containerbanner {
    width: 100%;
    height: 50vh;
    position: relative;
  }
